html {
	box-sizing:border;
}
*,:before *:after {
	box-sizing:inherit;
}
#accordion {
	width:550px;
	padding:0;
	margin:0;
	text-decoration:none;
}
.header {
	display:block;
	padding:20px;
	background:rgb(0,198,214);
	color:white;
	text-decoration:none;
	font-size:20px;
}
.content {
	padding:0;
	height:0;
	overflow:hidden;
}